*.iml
*.log
*.swn
*.swo
*.swp
.DS_Store
.classpath
.idea/
.project
.sass-cache/
.settings
.svn/
.svnignore
/.tmp
target/
hostname
node_modules
atlassian-ide-plugin.xml

grunt-tasks/global/proxy/.hostname

webapp/**/*
!webapp/**/*.crx
src/js/compiledTemplates/**/*

grunt-tasks/desktop/.libsass
grunt-tasks/mobile/.libsass